nav.navbar
{
    padding-bottom: 20px;
    background-color: #1a1f32;
   
    div.navBlock
    {
       // background-color: rgb(94, 94, 94);
       .navSearch
       {
        width: 250px;
       }
       
        a.navbar-brand
        {
            color:  #41d4ff;
        }

        button.navbar-toggler
        {
            span.navbar-toggler-icon{}
        }
        div.collapse
        {
            ul.navbar-nav
            {
                li.nav-item{
                    a.nav-link{
                        color:  #41d4ff;
                    }
                }
            }
        }
    }

    .textNav
    {
        color:  #41d4ff;
    }
}
.navLine
{
    height: 5px;
    background-color:  #41d4ff;
}